<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Matterbridge Service configuration</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href='images/favicon.png'>
    <link rel="stylesheet" href="css/spectre.min.css">
    <link rel="stylesheet" href="css/spectre-exp.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>

    <script id="home-template" type="text/x-template">
        <div class="container">

            <div class="columns">

                <section class="col-6 col-xs-12 empty">
                    <img class="icon centered" src="images/9GAG.svg">
                    <h4 class="empty-title">Gag gifs</h4>
                    <p class="empty-subtitle">Shows the actual 9gag gif count</p>
                    <div class="empty-action">
                        <h2 class="text-ellipsis" :class="showNineGagBold ? 'text-bold' : ''">{{nineGagCount}}</h2>
                    </div>
                </section>

                <section class="col-6 col-xs-12 empty">
                    <img class="icon centered coding-love-image" src="images/thecodinglove.png">
                    <h4 class="empty-title">The coding love gifs</h4>
                    <p class="empty-subtitle">Shows the actual coding love gif count</p>
                    <div class="empty-action">
                        <h2 class="text-ellipsis" :class="showCodingLoveBold ? 'text-bold' : ''">{{codingLoveCount}}</h2>
                    </div>
                </section>

                <section class="col-6 col-xs-12 empty">
                    <span class="fa fa-rss fa-4x"></span>
                    <h4 class="empty-title">Rss configurations</h4>
                    <p class="empty-subtitle">Shows the actual rss configuration count</p>
                    <div class="empty-action">
                        <h2 class="text-ellipsis" :class="showRssBold ? 'text-bold' : ''">{{rssCount}}</h2>
                    </div>
                </section>

                <section class="col-6 col-xs-12 empty">
                    <span class="fa fa-android fa-4x"></span>
                    <h4 class="empty-title">Bot count</h4>
                    <p class="empty-subtitle">Shows the actual configured bot count</p>
                    <div class="empty-action">
                        <h2 class="text-ellipsis" :class="showBotBold ? 'text-bold' : ''">{{botCount}}</h2>
                    </div>
                </section>

            </div>
        </div>

    </script>

    <script id="ninegag-config-template" type="text/x-template">
        <span>
            <div class="columns">
              <section class="col-12 empty">
                  <img src="images/9GAG.svg">
                <h4 class="empty-title">How to configure the 9 gag integration?</h4>
                <p class="empty-subtitle">You need an <strong>slash command</strong> configuration</p>
                <div class="empty-action">
                    <p>Command: <code>/ninegag</code></p>
                    <p>URL: <code><span class="atv">{{location}}</span></code></p>
                    <p>Method: <code>POST</code></p>
                    <p>After a successful configuration the service is looking for a stored 9Gag gif</p>
                </div>
              </section>
            </div>

            <!-- divider element -->
            <div class="divider"></div>

            <div class="columns" v-if="lastGifs.length">

                <h1 class="column col-12 text-center">The last 100 9GAG gifs</h1>

                <div v-for="gif in lastGifs" v-bind:key="gif.id" class="column col-4 col-sm-12">

                    <div class="card">
                        <div class="card-header">
                          <div class="card-title">{{gif.name}}</div>
                          <div class="card-subtitle">{{gif.createdAt | toDate}}</div>
                        </div>
                        <div class="card-body">
                          {{gif.gifUrl}}
                        </div>
                        <div class="card-image">
                          <img class="img-responsive" :src="gif.gifUrl">
                        </div>
                        <div class="card-footer">
                            <button v-on:click="deleteNineGagGif(gif.id)"
                                    class="btn btn-primary tooltip tooltip-right"
                                    :data-tooltip="'Delete ' + gif.name + '?'">
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
            <div v-else>
                <h3>Oops, there are no gifs available yet...</h3>
                <img src="images/9GAG.svg">
            </div>

        </span>
    </script>

    <script id="coding-love-config-template" type="text/x-template">
        <span>
            <div class="columns">
              <section class="col-12 empty">
                  <img src="images/thecodinglove.png">
                <h4 class="empty-title">How to configure the coding love integration?</h4>
                <p class="empty-subtitle">You need an <strong>slash command</strong> configuration</p>
                <div class="empty-action">
                    <p>Command: <code>/codinglove</code></p>
                    <p>URL: <code><span class="atv">{{location}}</span></code></p>
                    <p>Method: <code>POST</code></p>
                    <p>After a successful configuration the service is looking for a stored coding love gif</p>
                </div>
              </section>
            </div>

            <!-- divider element -->
            <div class="divider"></div>

            <div class="columns" v-if="lastGifs.length">

                <h1 class="column col-12 text-center">The last 100 Coding Love gifs</h1>

                <div v-for="gif in lastGifs" v-bind:key="gif.id" class="column col-4 col-sm-12">

                    <div class="card">
                        <div class="card-header">
                          <div class="card-title">{{gif.name}}</div>
                          <div class="card-subtitle">{{gif.createdAt | toDate}}</div>
                        </div>
                        <div class="card-body">
                          {{gif.gifUrl}}
                        </div>
                        <div class="card-image">
                          <img class="img-responsive" :src="gif.gifUrl">
                        </div>
                    </div>

                </div>

            </div>
            <div v-else>
                <h3>Oops, there are no gifs available yet...</h3>
                <img src="images/thecodinglove.png">
            </div>

        </span>
    </script>

    <script id="rss-config-template" type="text/x-template">
        <span>
            <div class="columns">
              <section class="col-12 empty">
                  <span class="fa fa-rss fa-4x"></span>
                <h4 class="empty-title">Here you can find the rss/atom reader integration</h4>
                <p class="empty-subtitle">After a successful configuration the service is polling every 15 minutes
                    for the latest feeds</p>
                  <p>For this integration you need an incoming web hook configuration</p>
                  <div class="empty-action">
                    <p>Channel: <code>#your-sample-channel</code></p>
                    <p>Webhook URL: (Incoming Token)<code><span class="atv">e.g. https://hooks.slack.com/services/T1N5WG...</span></code></p>
                </div>
              </section>
            </div>

            <div>
              <!-- form input control -->
              <div class="form-group">
                <label class="form-label" for="rss-config-name">Name</label>
                <input class="form-input" type="text" id="rss-config-name" v-model="rssModel.name" placeholder="Your config name" />
              </div>

              <div class="form-group">
                <label class="form-label" for="rss-config-url">RSS url</label>
                <input class="form-input" type="url" id="rss-config-url" v-model="rssModel.rssUrl" placeholder="http://some.feed.com"/>
              </div>

              <div class="form-group">
                <label class="form-label" for="rss-config-token">Incoming token</label>
                <input class="form-input" type="text" id="rss-config-token" v-model="rssModel.incomingToken" placeholder="for example" />
              </div>

              <div class="form-group">
                  <button class="btn btn-primary" type="submit" :disabled="!formOk" v-on:click="submitForm()">Submit</button>
                  <button class="btn btn-link" type="reset">Cancel</button>
              </div>

            </div>

            <div class="divider"></div>

            <div class="columns" v-if="rssEntries.length">

                <h1 class="column col-12 text-center">Actual rss reader configurations</h1>

                <div v-for="rss in rssEntries" v-bind:key="rss.id" class="column col-4 col-sm-12">

                    <div class="card">
                        <div class="card-header">
                          <div class="card-title">{{rss.name}}</div>
                          <div class="card-subtitle">{{rss.rssUrl}}</div>
                        </div>
                        <div class="card-body">
                          <p>Token: <span class="text-bold">{{rss.incomingToken | truncate}}</span></p>
                          <p>Last run: <span class="text-bold">{{rss.updatedAt | toDate}}</span></p>
                        </div>
                        <div class="card-footer">
                            <button v-on:click="deleteEntry(rss.id)"
                                    class="btn btn-primary tooltip tooltip-right"
                                    :data-tooltip="'Delete ' + rss.name + '?'">
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
            <div v-else>
                <h3>Oops, there are no rss configurations to display ...</h3>
                <span class="fa fa-rss fa-4x"></span>
            </div>

        </span>

    </script>

    <script id="bot-config-template" type="text/x-template">
        <span>

            <div class="columns">
              <section class="col-6 col-xs-12 empty">
                  <span class="fa fa-android fa-4x"></span>
                <h4 class="empty-title">Do you want to add a new bot?</h4>
                <p class="empty-subtitle">Enter this url<code>{{location}}</code> in the outgoing hook configuration</p>
                <p class="empty-subtitle">Just type here a new bot name where the web hook is looking for</p>
                <div class="empty-action input-group input-inline">
                  <input v-on:keyup.enter="addNewBot()" type="text" class="form-input"
                         placeholder="New bot..." v-model="botName">
                  <button :disabled="!canBotBeCreated"
                          class="btn btn-primary input-group-btn"
                          v-on:click="addNewBot()">Add</button>
                    <div v-if="isWaitForExistingCheck" class="loading"></div>
                </div>
              </section>

              <section v-if="deletedBots.length" class="col-6 col-xs-12 empty">
                  <span class="fa fa-recycle fa-4x"></span>
                <h4 v-on:click="toggleDeletedBotsVisibility()" class="empty-title">Do you want to restore a already deleted bot
                    <button class="btn btn-primary btn-sm"><span class="fa fa-question"></span></button></h4>
                <div v-if="showDeletedBots" v-for="bot in deletedBots" :key="bot.id" class="tile tile-centered">
                    <div class="tile-content">
                      <div class="tile-title">{{bot.name}}</div>
                      <div class="tile-subtitle">{{bot.deletedAt | toDate}}</div>
                    </div>
                    <div class="tile-action">
                      <button v-on:click="restoreBot(bot.id)"
                              class="btn btn-link btn-action btn-lg tooltip tooltip-left"
                              :data-tooltip="'Recycle bot ' + bot.name">
                          <i class="fa fa-recycle success"></i>
                      </button>
                    </div>
                </div>
              </section>
            </div>

            <div class="divider"></div>

            <div v-if="bots.length" class="columns">

                <div class="column col-6 col-xs-12" v-for="bot in bots" :key="bot.id">
                    <div class="panel bot-panel"
                         v-on:click="updateBotId(bot.id)"
                         v-on:mouseover="updateHoverId(bot.id)"
                         v-on:mouseleave="clearHoveId()">
                        <div class="panel-header text-center">
                          <figure v-if="!hoverBody(bot.id)" class="avatar avatar-lg">
                            <span class="fa fa-android fa-2x"></span>
                          </figure>
                            <figure v-else class="avatar avatar-lg">
                            <button v-on:click="deleteBot(bot.id)" class="btn btn-link btn-action btn-lg">
                                <i class="fa fa-trash fa-2x danger"></i>
                            </button>
                          </figure>
                          <div class="panel-title mt-10">{{bot.name}}</div>
                          <div class="panel-subtitle">{{bot.createdAt | toDate}}</div>
                        </div>
                      <div class="panel-body" v-if="activeBody(bot.id)">
                        <div v-for="resource in resources" :key="resource.id" class="tile tile-centered">
                            <div class="tile-content">
                              <div class="tile-title">{{resource.value}}</div>
                              <div class="tile-subtitle">{{resource.createdAt | toDate}}</div>
                            </div>
                            <div class="tile-action">
                              <button v-on:click="deleteResource(resource.id)" class="btn btn-link btn-action btn-lg">
                                  <i class="fa fa-trash danger"></i>
                              </button>
                            </div>
                        </div>
                        <div class="input-group">
                            <input v-on:keyup.enter="saveResource()" type="text" class="form-input" placeholder="Bot answer..." v-model="resourceValue">
                            <button :disabled="!isInputValid()" v-on:click="saveResource()" class="btn btn-primary input-group-btn">Save</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div v-else>
                <h3>Oops, there are no bots configured yet...</h3>
                <h4 v-if="deletedBots.length">Anywhere there are <strong>{{deletedBots.length}}</strong> deleted Bots</h4>
                <span class="fa fa-android fa-4x"></span>
            </div>

        </span>
    </script>

</head>

<body>



<div id="background-image"></div>

<div class="container grid-960" id="contentVue">

    <header class="navbar">
        <section class="navbar-primary">
            <a href="#" v-on:click="switchNavigation(MB.core.navs.home)"
               class="navbar-brand mr-10" :class="isHome() ? 'active' : ''">
                <img class="logo-image" src="/images/MatterBridge.svg"> Matterbridge Service</a>
        </section>
        <section class="navbar-section">
            <a href="#" v-on:click="switchNavigation(MB.core.navs.nineGag)"
               class="btn btn-link" :class="isNineGag() ? 'active' : ''">
                <img class="logo-image" src="images/9GAG.svg"> 9Gag</a>
            <a href="#" v-on:click="switchNavigation(MB.core.navs.codingLove)"
               class="btn btn-link" :class="isCodingLove() ? 'active' : ''">
                <img class="logo-image" src="images/thecodinglove.png"> Coding Love</a>
            <a href="#" v-on:click="switchNavigation(MB.core.navs.rss)"
               class="btn btn-link" :class="isRss() ? 'active' : ''">
                <span class="fa fa-rss"></span> RSS config</a>
            <a href="#" v-on:click="switchNavigation(MB.core.navs.bot)"
               class="btn btn-link" :class="isBot() ? 'active' : ''">
                <span class="fa fa-android"></span> Bots</a>
        </section>
    </header>

    <landing v-show="isHome()" v-bind:url="url"></landing>
    <ninegag-config v-if="isNineGag()" v-bind:url="url"></ninegag-config>
    <coding-love-config v-if="isCodingLove()" v-bind:url="url"></coding-love-config>
    <rss-config v-if="isRss()" v-bind:url="url"></rss-config>
    <bot-config v-if="isBot()" v-bind:url="url"></bot-config>
</div>

</body>

<footer class="panel-footer">
    <div class="container grid-960">
        <hr>
        <div class="text-center">
            <h3>Matterbridge Service <small>(Slack & Mattermost integration)</small></h3>
        </div>
    </div>
</footer>

</html>

<script type="text/javascript">
    $(document).ajaxError(MB.errorHandler);
    $(function() {
        MB.core.init();
    });
</script>
